ENV=DEV_or_PROD
PORT=your_app_port
DATABASE_HOST=my_db_host
DATABASE_PORT=3306
DATABASE_NAME=db_prod_name
DATABASE_USERNAME=db_user
DATABASE_PASSWORD=db_user_password
DATABASE_ROOT_PASSWORD=db_root_password
SIT_DATABASE_PORT=3306
SIT_DATABASE_HOST=my_sit_db_host
SIT_DATABASE_NAME=db_sit_name
SIT_DATABASE_USERNAME=db_sit_user
SIT_DATABASE_PASSWORD=db_sit_user_password
SIT_DATABASE_ROOT_PASSWORD=db_sit_root_password